HF_TOKEN=
# FASTAPI
FASTAPI_PORT=8989
# MINIO
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
# Elastic Search
ES_PORT=9200
ES_USER="elastic"
ES_PASSWORD="elastic_password"
KIBANA_PORT=5601