.env
.idea/
app/__pycache__
loggers/__pycache__/
testing/__pycache__/
app/core/config/__pycache__
app/routers/__pycache__
app/routers/development/__pycache__
app/startup/__pycache__
app/utils/__pycache__
app/utils/face/__pycache__
app/utils/face/alignment/__pycache__
app/utils/face/embedding/__pycache__
app/utils/face/detector/__pycache__
app/utils/image/
app/core/exceptions/__pycache__/
app/core/middle_ware/__pycache__/
app/core/schema/__pycache__/
app/core/vector_store/__pycache__/
app/db/qdrant/__pycache__/
app/db/minio/__pycache__/
minio-data
kennedy.jpg
trump.jpg
images